<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stephen.m_linkdesign" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_buy_book"
            android:label="@string/title_activity_activity_buy_book" >
        </activity>
        <activity
            android:name=".activity_sell"
            android:label="@string/title_activity_activity_sell" >
        </activity>
        <activity
            android:name=".sell"
            android:label="@string/title_activity_sell" >
        </activity>
        <activity
            android:name=".buy_book"
            android:label="@string/title_activity_buy_book" >
        </activity>
        <activity
            android:name=".choice"
            android:label="@string/title_activity_choice" >
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
